/* i put !important randomly so things don't break down, but then most of it is useless */
:root {
	--padding: 45px;
}
* {
	font-family: 'Segoe UI';
	padding-bottom: var(--padding);
	padding-left: var(--padding);
	/* padding-right: var(--padding); */
	padding-right: 0px;
	font-weight: normal !important; /* important because no bold in bsod */
	margin: 0px;
	/* background-color: black; */
	/* background-color: #0078d7; */
	/* why is it so bright i copied the color from my vm */
	background-color: #0178d7;
	color: white;
	overflow: hidden; /* no scrolling pls beg */
	cursor: none;
}
#padding {
	padding-top: var(--padding); /* why is CSS so fricking diffult to work with this is my workaround with #maintxt */
}
.smiley {
	font-size: 12em;
	margin-bottom: 24px;
	padding-bottom: 0px !important;
}
#maintxt {
	/* position: absolute; */
	margin-top: 16px;
	padding-top: 0px !important;
}
.maintext {
	font-size:3em;
}
.qr {
	height:130px;
	padding-right: 0px;
}
.qrleft {
	position: absolute;
	display: inline-block;
	padding-left: 20px; /* so it appears a little bit closer to the edge */
	font-size: 1.1em;
}

/* not wide */
@media (max-width: 1400px) {
/* @media (max-width: 4000px) { */
	.smiley {
		/* font-size: 10px; */
		margin-bottom: 20px;
	}
	.maintext {
		font-size: 2.5em;
	}
	* {
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* low screen */
@media (max-height: 1000px) {
	#padding {
		padding-top: 20px;
	}
}